.container {
  --content-pad: 1.5rem;
  padding: 0 10px;
  max-width: 600px;
  margin: 0 auto;

  @media (min-width: 765px) {
    --content-pad: 3.5rem;
  }
}

.container_header {
  // background-color: #4CAF50;
  // color: white;
  padding: 10px 0;
  text-align: center;
}
.brand_logo {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.container_content {
  position: relative;
  padding: var(--content-pad);
  border-radius: 20px;
  background-color: #f0f0f0;
}

.label {
  font-weight: 500;
  margin-bottom: 0.2rem;
  font-size: 0.8em;
  line-height: 1em;
  text-transform: uppercase;
  color: #063e92;
}

.title {
  font-size: 1.3em;
  line-height: 1.2em;
}

.info_group {
  margin-bottom: 1rem;
}

.icon {
  color: #063e92;
  font-size: 2em;
  line-height: 1em;
  width: 40px;
}

.icon_label {
  font-size: 1.2em;
  font-weight: 700;
}
.error_alert,
.success_banner,
.error_banner {
  padding: var(--content-pad);
  margin-top: calc(var(--content-pad) * -1);
  margin-left: calc(var(--content-pad) * -1);
  margin-right: calc(var(--content-pad) * -1);
  margin-bottom: 2rem;
  border-radius: 20px 20px 0 0;
}
.error_alert,
.error_banner {
  color: rgb(163, 2, 2);
  background-color: rgba(255, 0, 0, 0.1);
}
.error_alert {
  text-align: center;
  border-radius: 0;
  margin-top: -2rem;
  padding: 1rem var(--content-pad);
  border-top: solid 1px rgba(163, 2, 2, 0.2);
}
.success_banner {
  color: rgb(2, 88, 55);
  background-color: rgba(0, 255, 179, 0.1);
  text-align: center;
  font-size: 1.2em;
}
