.wrapper {
  //   outline: solid 1px red;
  height: 100%;
}
.menucol {
  //   outline: solid 1px blue;
  flex: 0 0 100%;
  background-color: #eee;
  border-radius: 0.5rem;
  //   padding: 1rem 0;
  @media (min-width: 768px) {
      margin: 1rem;
    flex: 0 0 250px;
  }
}
.inner_menu {
    position: sticky;
    top: 60px;
}
.menucol__title {
  //   font-size: 1.5rem;
  //   padding: 0 1rem;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contentcol {
  //   outline: solid 1px blue;
  padding: 1rem;
}

.title {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
//   justify-content: space-between;
  gap: 2rem;
}

.limit_field {
  max-width: 500px;
}

.fieldset {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.fieldset__legend {
  font-size: 1.3em;
  line-height: 1em;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.fieldset__legend::after {
  content: "";
  display: block;
  flex: 1;
  height: 1px;
  background-color: #e0e0e0;
}

// área do botão de submissão
.action_field {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2rem;
  position: sticky;
  bottom: 0;
}