/* Header fixed to the top of the modal */
.modal-header--sticky {
    position: sticky;
    top: 0;
    background-color: inherit; /* [1] */
    z-index: 1055; /* [2] */
  }
  
  /* Footer fixed to the bottom of the modal */
  .modal-footer--sticky {
    position: sticky;
    bottom: 0;
    background-color: inherit; /* [1] */
    z-index: 1055; /* [2] */
  }