@import '~@brunobarros/react-components/src/scss/block-ui.module.scss';
@import '~@brunobarros/react-components/src/scss/password-strong.module';
@import '~react-quill/dist/quill.snow.css';
@import './bootstrap/bootstrap.scss';
@import "styles/mixins";
@import "./toastify/main";
@import "./layout-clear";
@import "./layout-main";
@import "./login";
@import "./lang-selector";
@import "./floating-label";
@import "./sweet-alert";
@import "./multi-step";
@import "./abstract-card";
@import "./uppy";
@import "./status-bar";
@import "./dynamic-table";
@import "./order";
@import "./comments";
@import "./notification-panel";

body, html {
  //background-color: $gray-100;
}


.form-error {
  font-size: .8em;
}

.text-xs {
  font-size: .8em;
  line-height: 1.2em;
}

.text-sm {
  font-size: .9em;
  line-height: 1.3em;
}

.hr {
  position: relative;
  padding: 1rem 0;
  text-align: center;
  //box-shadow: 0 0 1px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #c3c3c3;
    height: 1px;
    left: 0;
    right: 0;
    top: 51%;
  }

  .label {
    position: relative;
    font-size: .8em;
    line-height: 1;
    z-index: 3;
    display: inline-block;
    color: #505050;
    background-color: #fff;
    padding: 0 10px;
    transform: translateY(-1px);
  }
}


.page-header {
  padding: 1rem;
  background-color: $gray-100;

  .title {
    font-weight: 700;
    color: $gray-600;
  }
}

.page-title {
  font-size: 1.4em;
  line-height: 1.3em;
  margin-bottom: 1rem;
}


.card-footer {
  .btn-group.end > .btn:last-child {
    border-top-right-radius: 0;
  }

  .btn-group.start > .btn:first-child {
    border-top-left-radius: 0;
  }

  .btn-group.start > .btn:not(:first-child):not(:last-child),
  .btn-group.end > .btn:not(:last-child):not(:first-child) {
    border-radius: 0;
  }
}


.dropdown-on-hover:hover {
  .dropdown-menu {
    display: block;
  }
}


.quill.disabled {
  .ql-toolbar {
    padding: 0;
    border-bottom: none;

    > * {
      display: none;
    }
  }
}

.ql-editor {
  p, ul, ol {
    margin-bottom: $spacer;
  }
}

.editor-height-sm .ql-editor {
  max-height: 150px;
}

.editor-height-md .ql-editor {
  max-height: 350px;
}

.editor-height-lg .ql-editor {
  max-height: 550px;
}

.ql-snow .ql-editor h1,
.ql-snow .ql-editor h2,
.ql-snow .ql-editor h3 {
  font-weight: 700;
  margin: 1em 0 .5em;
}

.radio-lg {
  .custom-control-label::after,
  .custom-control-label::before {
    top: $spacer / 2;
  }

  .custom-control-label {
    font-weight: 700;
    font-size: 1.3em;
    vertical-align: middle;
    cursor: pointer;

    .price {
      margin-left: 10px;
      font-size: .8em;
      color: $gray-600;
    }

    &:hover {
      color: $primary;
    }
  }
}

.botton-subscribed {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: $success;
  color: $white;
  line-height: 0;
  padding-right: 15px;
  height: 30px;
  border-radius: 30px;

  ion-icon {
    font-size: 30px;
    margin-right: 5px;
  }
}

.eval-form {
  position: sticky;
  top: 83px;

  .form-group {
    max-width: 400px;

  }
}

.form-panel {
  .header {
    margin-bottom: 1em;
  }
}